body {
    background: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.gen-body {
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin: 0px auto;
}

.header {
    font-weight: bolder;
    font-family: "Karla", sans-serif;
    margin: 0px 0px 0px 52px;
}

.header-child{
    color: #4ADF86;

}

p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 52px
}

.btn {
    background: #10B981;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 51px;
    margin-bottom: 0px;
    margin-left: 52px

}

.line {
    border-bottom: 1px solid #2F3E53;
    width: 446px;
    margin: 35px auto;
}

.pass-box {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.pass-one,
.pass-two {
    background: #273549;
    width: 211px;
    height: 39px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.pass-one {
    margin-right: 24px;
}
