body {
    background: black;
    color: white;
}

.gen-body {
    width: 550px;
    height: 550px;
    background: #1F2937;
}

.header {
    font-weight: bolder;
    font-family: "Karla", sans-serif;
}

.header-child{
    color: #4ADF86;
}